@font-face {
  font-family: "Leoscar Sans";
  src: url("../Anurati-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Leoscar Serif";
  src: url("../Leoscar%20Serif.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
